html
    head
    body
        if userId
            p Welcome, #{userId}!
            a(href="/logout") Log out
        else
            a(href="/login") Log in
            br
            a(href="/join") Join
        h1 This is index.
        