html
    head
    body
        h1 join
        form(action="#", method="post")
            label(for="userid") ID
            input(type="text", name="userid")
            br
            label(for="pw") PW
            input(type="text", name="pw")
            br
            label(for="name") Name
            input(type="text", name="name")
            br
            input(type="submit", value="SUBMIT")