doctype html
html(lang="en")
    head
    body
        form(action="/login" method="post")
            label(for="id") ID
            input(type="text" name="id")
            br
            label(for="pw") PW
            input(type="text" name="pw")